

.sec-nav {
  display: flex;
  justify-content: space-around;
  margin-top: 25px;
  margin-bottom: 25px;
}


.sec-item img {
  display: block;
  width: 130px;
  height: 130px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid rgba(27, 27, 27, 0.753);
}
.sec-item a {
  display: block;
  text-align: center;
  margin: 12px 0;
  font-weight: bolder;
  font-size: 23px;
  transition: background-color .3s,color .3s,border-radius 0;
}
.sec-item a:hover,.sec-item a.focus {
  /* text-decoration: underline; */
  background-color: rgb(49, 49, 49);
  border-radius: 10px;
  color: white;
}

/*Dando estilos al padre de las secciones*/
.sec-pro {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  /*grid-auto-flow modifica la colocacion automatica, */
  /*dense rellena los huecos en las cuadriculas grid*/
  grid-auto-flow: row dense;
  grid-row-gap: 40px;
  display: none;
  justify-items: center;
}

@media screen and (max-width:1000px){
  .sec-pro {
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
  }
}
@media screen and (max-width:680px){
  .sec-pro {
    grid-template-columns: 1fr;
    grid-gap: 20px;
  }
  .sec-panel .sec-producto {
    flex-direction: column !important;
  }
  .sec-panel .sec-cuerpo {
    padding-left: 0 !important;
  }
}

.sec-pro.focus {
  display: grid;
}
.sec-panel {
  grid-column-start: 1;
  grid-column-end: -1;
  width: 100%;
  background-color: rgba(253, 244, 160, 0.87);
  overflow: hidden;
  padding: 0;
  display: none;
  height: auto;
  transform-origin: top;
  transform: scale(1,0);
}
.sec-panel.panel-extendido {
  padding: 18px;
  display: initial;
  animation: extender .5s;
  animation-fill-mode: forwards;
}
@keyframes extender {
  to {
    transform: scale(1,1);
  }
}
.panel-nombre {
  font-size: 30px;
  margin-top: 5px;
}
.sec-panel .sec-cuerpo{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-left: 60px;
}
.sec-panel .sec-producto{
  flex-direction: row;
  width: 100%;
  box-shadow: none;
  justify-content: flex-start;
}
.panel-close {
  text-align: right;
  margin: 0 !important;
}
.panel-close i {
  cursor: pointer;
  font-size: 20px;
}
.panel-datos>*{
  margin: 24px 0;
}
.sec-panel .sec-cuerpo {
  flex: 1;
}
.sec-panel img {
  max-height: 420px;
}
.sec-panel .sec-img img:last-child{
  animation: girar_imagenes 2s infinite;
}
/*Dando estilos a los hijos(productos)*/
.sec-producto {
  width: 300px;
  box-shadow: 0 0 10px 2px rgba(73, 73, 73, 0.404);

  /*Estilos para */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.sec-cuerpo {
  padding: 0 12px 12px;
}
.sec-cuerpo-nombre {
  cursor: pointer;
  font-size: 22px;
}
.sec-cuerpo-nombre:hover {
  text-decoration: underline;
}

.sec-cuerpo .estrellas {
  margin: 10px 0;
}
.sec-cuerpo .estrellas i {
  font-size: 22px;
}
.sec-cuerpo-precio {
  font-size: 30px;
  color: rgb(255, 29, 29);
}
.sec-cuerpo-precio::before {
  content: "S/ ";
}

.sec-img {
  position: relative;
}
.sec-img img:first-child {
  position: relative;
  z-index: 10;
}
.sec-img img:last-child {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
.sec-img:hover img:last-child {
  /*Elegir de que forma se muestra*/
  /* animation: girar_imagenes 1.8s infinite; */
  z-index: 11;
}


@keyframes girar_imagenes {
  from {
    z-index: 1;
  }
  to {
      z-index: 11;
  }
}
